* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  background-color: #8aa9ad;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  background-color: rgb(105, 57, 128);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
table {
  width: 100%;
  height: 100%;
}
button {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #d0d0d0;
}
button:active {
  background-color: #c0c0c0;
}

#display {
  width: 100%;
  height: 85px;
  font-size: 1.5em;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: right;
  background-color: #f9f9f9;
}
